@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-weight: 300;
    font-size: 18px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 21px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}
section#photo_gallery {
    padding: 100px 0;
    z-index: 10;
}
section#photo_gallery img.gallery-img {
    width: 100%;
    padding: 15px;
}

section#photo_gallery .col-xl-4.col-lg-4.img-col{
    padding:0;
}

section#photo_gallery {
background-color: #212c3a;
}

section#photo_gallery .section_heading {
    font-size: 42px;
    margin-bottom: 70px;
    color: #ffffff;
}

section#photo_gallery img.gallery-img{
    position:relative;
}
section#photo_gallery img.gallery-img:after {
    content: "asd";
    position:absolute;
    display: block;
    top:0;
}
