@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-weight: 300;
    font-size: 18px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 21px;
    font-weight: 500;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

section#about_us {
    padding-top: 100px;
    z-index: 10;
}

section#about_us {
    background-color: #f6f6f6;
    color: #282828;
}

section#about_us .section_heading {
    font-size: 42px;
    margin-bottom: 50px;
}

section#about_us .title {
    text-transform: uppercase;
    font-weight: 300;
}

section#about_us .container {
    font-weight: 300;
}

section#about_us a.btn.btn-primary {
    background-color: transparent;
    border: 1px solid #cdcdcd;
    color: #7e7e7e;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 15px;
}

@media (max-width:768px) {
    section#about_us .section_heading {
        text-align: center;
    }
}